################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordisProject/Assets/Wordis/BlockPuzzle/GameCore/bin
/WordisProject/Assets/Wordis/BlockPuzzle/GameCore/obj
/WordisProject/Assets/Wordis/BlockPuzzle/GameCore/obj.meta
/WordisProject/Assets/Wordis/BlockPuzzle/GameCore/bin.meta
/docs/dict/DictPreprocessor/obj
/docs/dict/DictPreprocessor/.vs/DictPreprocessor/v16
/docs/dict/DictPreprocessor/bin/Debug/netcoreapp3.1
/WordisProject/Assets/Plugins/Android

/.history
WordisProject/.history
WordisProject/.vscode
